<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="view-transition" content="same-origin" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- Custom Cursor with Trail -->
    <div id="custom-cursor">
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block black"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
    </div>

    <!-- Cursor Trail -->
    <div class="cursor-trail trail-0">
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block black"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
    </div>

    <div class="cursor-trail trail-1">
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block black"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
    </div>

    <div class="cursor-trail trail-2">
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block black"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
    </div>

    <div class="cursor-trail trail-3">
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block black"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
    </div>

    <div class="cursor-trail trail-4">
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block black"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
    </div>

    <div class="cursor-trail trail-5">
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block black"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
    </div>

    <div class="cursor-trail trail-6">
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block black"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
    </div>

    <div class="cursor-trail trail-7">
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block black"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
    </div>

    <div class="cursor-trail trail-8">
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block black"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
    </div>

    <div class="cursor-trail trail-9">
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block black"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
        <div class="cursor-block white"></div>
        <div class="cursor-block"></div>
    </div>

    <div class="container">