<%- include('partials/header') %>

<div class="error-container">
    <h2>404</h2>
    <p>Page not found</p>
    <div style="margin-top: 30px;">
        <a href="/" class="btn btn-primary">
            <span class="btn-label--baseline-fix">Go Home</span>
        </a>
    </div>
</div>

<%- include('partials/footer') %>
