<%- include('partials/header') %>

<div class="error-container">
    <h2 class="signalis-glitch" data-text="404">404</h2>
    <p class="signalis-glitch" data-text="Page not found">Page not found</p>
    <div style="margin-top: 30px;">
        <a href="/" class="btn btn-primary">
            <span class="btn-label--baseline-fix signalis-glitch" data-text="Go Home">Go Home</span>
        </a>
    </div>
</div>

    <div class="visual-effects-container">
        <div class="phosphor-mask"></div>

        <div class="interference-line"></div>
        <div class="interference-line"></div>
        <div class="interference-line"></div>
    </div>

<%- include('partials/footer') %>
